<div class="sidebar-wrapper">
    <div class="logo">

        <div>
            <h4> CarPool App </h4>
        </div>

    </div>

    <ul class="nav responsive-nav">


        <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <li>
            <a (click)="logout()" style="background-color: rgba(26, 147, 228, 0);" type="submit">
                <i class="pe-7s-delete-user"></i>
                <p>logout</p>
            </a>
        </li>

    </ul>
</div>